name: Deploy to Cloud Run

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Auth to GCP (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/106713737818/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
          service_account: "github-actions-bot@optimal-relic-481321-h7.iam.gserviceaccount.com"

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy to Cloud Run (source)
        run: |
          gcloud config set project optimal-relic-481321-h7
          gcloud run deploy cloudrun-pipeline-demo \
            --source . \
            --region us-central1 \
            --allow-unauthenticated
