name: GCP Auth Test

on:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Auth to GCP (WIF)
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SA_P }}'
          service_account: "github-actions-bot@optimal-relic-481321-h7.iam.gserviceaccount.com"

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Test GCP access
        run: |
          gcloud auth list
          gcloud projects describe optimal-relic-481321-h7

