name: GCP Auth Test

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Auth to GCP (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/106713737818/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
          service_account: "github-actions-bot@optimal-relic-481321-h7.iam.gserviceaccount.com"

      - uses: google-github-actions/setup-gcloud@v2

      - name: Test GCP access
        run: |
          gcloud auth list
          gcloud projects list
      - name: Who am I?  
        run: |
         gcloud auth list
         gcloud config list
      - name: Test GCP access
        run: |
         gcloud projects list

